.main-body{
    height:500px;
    width:400px;
    border:1px solid black;
    background-color:gray;  
    margin-left:300px;
}
.calc-body #num{
    width:380px;
    height:40px;
}
.num-body{
    margin-top:10px;
}
.calc-btn{
    width:90px;
    height:80px;
}